<div class="row">
    <div class="input-field col s12">
        <input name="{{fields.id}}" id="{{fields.id}}" type="text" class="datepicker">
        <label for="{{fields.id}}">{{label_text}}</label>
    </div>
</div>