<div class="row">
    <div class="input-field col s12">
        <textarea name="{{fields.id}}" id="{{fields.id}}" class="materialize-textarea"></textarea>
        <label for="{{fields.id}}">{{label_text}}</label>
    </div>
</div>